# python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/
*.egg-info

# django
*.sqlite3
db.sqlite3
/media
/staticfiles

# env
.env
*.env

# venv
venv/
myvenv/

# os
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
